@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "QuickSand", sans-serif;
  height: "100vh";
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

.menuItem {
  margin-bottom: 15px;
}
.Icon {
  border-radius: 50%;
  border: 1px solid black;
  height: 35px;
  width: 35px;
}

.Avatar {
  border-radius: 50%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.messageContainer {
  width: 550px;
  display: flex;
  justify-content: center;
  right: 700px;
  margin: 0;
}

.css-dip3t8 {
  background-color: #000000;
}
