html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #cebb76;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #060606;
  }
}
/*sideBar */

.MuiGrid-direction-xs-column {
  margin-top: -65px;
}

/*homePage */
.storyContainer {
  border: 1px solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 485px;
  margin-left: 175px;
  margin-top: 30px;
}
.MuiPaper-rounded {
  max-width: 500px;
  border: 1px solid gray;
  margin-left: 150px;
  margin-top: 25px;
}

.MuiPaper-root {
  background-color: #cebb76;
}
.MuiBox-root {
  background-color: #cebb76;
}

.profile {
  border-radius: 50%;
}

.Icon {
  border-radius: 50%;
  border: 1px solid black;
  height: 35px;
  width: 35px;
}

.Avatar {
  border-radius: 50%;
  border: 1px solid black;
  height: 50px;
  width: 50px;
}

.storyAvatar {
  border-radius: 50%;
  border: 1px solid black;
  height: 60px;
  width: 60px;
}

.messageContainer {
  width: 550px;
  display: flex;
  justify-content: center;
  right: 700px;
  margin: 0;
}
